<div class='main-wrapper'>
  <h2>カテゴリー「<%= @category.name %>」の表題一覧</h2>
  <div class='content-wrapper'>
    <%= link_to '新しく表題を作る', new_category_group_path(@category.id), class: 'btn btn-sm new-group-btn' %>
    <%= link_to 'カテゴリーに戻る', categories_path, class: 'btn btn-sm back-btn' %>
    <hr class='my-5'>
    <% @groups.each do |group| %>
      <p><%= group.name %></p>
      <small><%= group.introduction %></small><br>
      <%= link_to category_group_path(@category.id, group.id), class: 'btn btn-sm submit-btn mt-2' do %>
        <% if group.is_owned_by?(current_user) %>
          自分が作成した表題
        <% elsif group.includes_user?(current_user) %>
          参加中
        <% else %>
          この表題に参加
        <% end %>
      <% end %><br>
      <small><%= group.users.count %>名が参加中</small>
      <hr class='my-5'>
    <% end %>
  </div>
</div>