<h2>プロフィール編集フォーム</h2>
<%= render 'layouts/errors', obj: @user %>
<%= form_with model: @user do |f| %>
  <div class='form-group'>
    <%= f.label :name %></br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :nick_name %></br>
    <%= f.text_field :nick_name, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :email %></br>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :introduction %></br>
    <%= f.text_area :introduction, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :image %></br>
    <%= f.file_field :profile_image, class: 'd-block', accept: 'images/*' %> 
  </div>
  <div class='form-group'>
    <%= f.submit '更新', class: 'btn btn-sm btn-success' %>
  </div>
<% end %>