<div class='main-wrapper'>
  <% if @user == current_user %>
    <h2>マイページ</h2>
  <% else %>
    <h2><%= @user.nick_name %>さんのプロフィール</h2>
  <% end %>
  <div class='content-wrapper'>
    <p><i class="fa-solid fa-chart-simple"></i> 閲覧された回数：<%= @user.profile_viewers.count %>回</p>
    <div class='mb-5'>
      <%= image_tag @user.get_profile_image(200,200) %>
      <div class='relationship-box'>
        <div id='relationship-count'>
        <%= render 'relationships/count', user: @user %>
        </div>
        <div id='relationship-btn'>
          <%= render 'relationships/btn', user: @user %>
        </div>
      </div>
    </div>
    <p>私は、日本生活の<%= @user.get_role %>です。</p>
    <hr>
    <p><%= @user.introduction %></p>
    <hr>
    <div class='mt-5'>
      <% if @user == current_user %>
        <%= link_to 'プロフィール編集', edit_user_path(current_user), class: 'btn btn-sm btn-secondary' %>
      <% end %>
      <%= link_to 'このユーザーの投稿一覧', user_post_index_path(@user), class: 'btn btn-sm submit-btn' %>
      <%= link_to 'ユーザーの一覧に戻る', users_path, class: 'btn btn-sm back-btn' %>
      
    </div>
    
    
    <!--このユーザーの意見一覧-->
  </div>
</div>
