<div class='main-wrapper'>
  <h2><%= @user.nick_name %>さんとのチャット</h2>
  <div class='content-wrapper'>
    <%= link_to user_path(@user.id), class: 'btn btn-sm chat-btn' do %>
      <%= @user.nick_name %>さんのプロフィールへ
    <% end %>
    <%= link_to 'チャットルーム一覧へ', chat_path(@user.id), class: 'btn btn-sm submit-btn' %>
    <div class='message-box mt-5'>
      <% @chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>
          <div class='message ml-auto mt-2'>
            <p><%= chat.message %></p>
          </div>
          <p class='text-right'><%= chat.created_at.strftime('%y/%m/%d %H時%M分') %></p>
        <% else %>
          <div class='message mr-auto mt-2'>
            <p><%= chat.message %></p>
          </div>
          <p class='mr-auto'><%= chat.created_at.strftime('%y/%m/%d %H時%M分') %></p>
        <% end %>
      <% end %>
    </div>
    <div class='errors'>
      <%= render 'layouts/errors', obj: @chat %>
    </div>
    <div class='new-message-wrapper'>
      <%= form_with model: @chat, data: {remote: true} do |f| %>
        <div class='form-group new-message-box'>
          <%= f.text_field :message, class: 'form-control' %>
        </div>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <div class='form-group new-message-submit-btn'>
          <%= f.submit '送信', class: 'btn btn-sm submit-btn' %>
        </div>
      <% end %>
    </div>
  </div>

</div>
