<div class='main-wrapper'>
  <div class='content-wrapper'>
    <div class='menu-wrapper d-flex justify-content-center flex-wrap'>
      <%= link_to recommend_place_posts_path do %>
        <div class='menu-box box-1'><p>おすすめを知る</p></div>
      <% end %>
      <!--リンク後ほど-->
      <div class='menu-box box-2'><p>意見を交換する</p></div>
      <!---->
      <%= link_to users_path do %>
        <div class='menu-box-sm box-3'><p>仲間を探す</p></div>
      <% end %>
      <%= link_to new_search_path do %>
        <div class='menu-box-sm box-4'><p>検索する</p></div>
      <% end %>
      <% unless current_user.guest_user? %>
        <%= link_to user_path(current_user) do %>
          <div class='menu-box-sm box-5'><p>マイページ</p></div>
        <% end %>
      <% end %>
      <%= link_to about_path do %>
        <div class='menu-box-sm box-6'><p>このサイトについて</p></div>
      <% end %>
    </div>
  </div>
</div>

