<div class='main-wrapper'>
  <h2>カテゴリー</h2>
  <p class='text-center'>意見を集いたい、意見を知りたい、<br>カテゴリーを選んでください。</p>
  <div class='content-wrapper'>
    <div>
      <%= form_with model: @category do |f| %>
        <%= f.text_field :name %>
        <%= f.submit 'カテゴリー追加', class: 'btn btn-sm submit-btn' %>
      <% end %>
    </div>
    <div class='mt-5 d-flex flex-wrap'>
      <% @categories.each do |category| %>
        <%= link_to category_groups_path(category.id) do %>
          <div class='category-box'>
            <p class='category-title'><%= category.name %></p>
            <small>表題数: <%= category.groups.count %></small>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
